<%= simple_form_for @group do |f| %>
	<% if @group.errors.any? %>
		<div id="error_explanation" class="container">
			<div class="col-12 col-md-6 offset-md-3 mt-3">
				<h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
				<ul>
					<% @group.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
				
			</div>
		</div>
	<% end %>

	<div class="form-group col-12 col-md-6 offset-md-3 my-2">
		<hr>
		<%= f.input :name, :input_html => { :class => 'form-control my-2' } %>
		<%= f.input :description, as: :text, :input_html => { :class => 'form-control my-2' } %>
		<%= f.input :amount, :input_html => { :class => 'form-control my-2' } %>
		<%= f.association :category , :input_html => { :class => 'form-control my-2' } %>
		<div id="addParticipants" class="my-3 d-flex justify-content-end" >
			<%= link_to_add_association f, :participating_users, class:'btn btn-outline-dark' do  %>
				Add Participant
			<% end %>
		</div>
		<div class="participants mt-3">
			<%= f.simple_fields_for :participating_users do |g| %>
				<%= render  'participating_user_fields', f:g %>
			<% end %>
			<div class="participants-container"></div>
		</div>
	</div>
	<div class="col-12 col-md-6 offset-md-3 border-top border-gray mt-3 pt-3">
		<%= f.button :submit , class:'btn btn-dark col-12 mb-3 py-3'  %>
	</div>
<%end%>
