<p id="notice"><%= notice %></p>

<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group Description:</strong>
  <%= @group.description %>
</p>
<strong>Participants:</strong>
<%@group.participants.each do |participant| %>
    <p><%=participant.email%></p>
<% end %>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
