<section class="nav-bar">
  <div class="nav-bar__container">
    <div>
      <%= render_svg 'logo-header', styles: 'nav-bar__logo' %>
    </div>

    <ul class="section-container">
      <li class="section-container__link">
        <%= link_to "PRODUCTS", "#products" %>
      </li>
      <li class="section-container__link">
        <%= link_to "PRICING", "#pricing" %>
      </li>
      <li class="section-container__link">
        <%= link_to "ABOUT US", "#about-us" %>
      </li>
    </ul>

    <div class="buttons-container">
      <%= render 'layouts/partials/messages' %>
      <%= render 'layouts/partials/user_options', style_nav: true %>
    </div>

    <div class="hamburguer-icon">
      <%= render_svg 'hamburger-icon'%>
    </div>
  </div>
</section>
