<section>
  <div>
    <div>
      <%# SVG %>
    </div>
    
    <ul>
      <li>
        <%= link_to "PRODUCTS", "#products" %>
      </li>
      <li>
        <%= link_to "PRICING", "#pricing" %>
      </li>
      <li>
        <%= link_to "ABOUT US", "#about-us" %>
      </li>
    </ul>
    
    <div>
      <%= render 'layouts/partials/user_options' %>
      <%= render 'layouts/partials/messages' %>
    </div>

    <div>
      <%# SVG %>
    </div>
  </div>
</section>
