<div class="dropdown">
	<%= link_to '#', class: 'dropdown-toggle btn btn-lg border-dark', data:{ "bs-toggle" => "dropdown"} do %>
		<%= render_svg 'user'%> Account
	<% end %>
	<div class="dropdown-menu">
		<% if current_page?(root_path) %>
			<%= link_to groups_path, class: 'dropdown-item' do %>
				Groups
			<% end %>
    <% end %>
		<%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
			Edit Account
		<% end %>
		<%= link_to account_suscription_path, class: 'dropdown-item' do %>
			My Suscription
		<% end %>
		<%= link_to billing_portal_create_path, class: 'dropdown-item', method: :post do %>
			Billing
		<% end %>
		<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item exit" %>
	</div>
</div>
