<!DOCTYPE html>
<html>
	<head>
		<title>Kangaroo App</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= tag :meta, name: 'stripe-public-key', content: ENV['STRIPE_PUBLIC_KEY'] %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('kangaroo-favicon.png') %>
	</head>
	<body>
		<%= render 'layouts/partials/nav_private' %>
		<%= render 'layouts/partials/messages' %>
		<%= yield %>
	</body>
</html>
